<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/3aa.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
        <button type="button" class="btn btn-dark">Dark</button>
        <button type="button" class="btn btn-dark">Dark</button>
        <button type="button" class="btn btn-dark">Dark</button>
  </div>
  </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" >Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div [ngStyle]="{'background-color':'blue'}"><div>
      <div class="card-body">
        <h5 class="card-title text-white">Special title treatment</h5>
        <p class="card-text text-white">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
</div>

